
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: rgb(220,226,251,255);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 94vh;
}

h1 {
	font-weight: bold;
	color: rgb(56, 56, 56);
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 10px;
	border: 1px rgb(97,114,252,255);
	background-color: rgb(10, 14, 50);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: rgb(220,226,251,255);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	
}

.container {
	background-color: rgb(220,226,251,255);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	min-height: 110%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 30%;
	z-index: 2;
}

/*.overlay-container {
	position: absolute;
	top: 0;
	right: 20%;
	width: 50%;
	height: 100%;
	transition: transform 0.6s ease-in-out;
}*/

.container .fondo {
	position: absolute;
	top: 0;
	right: 0%;
	width: 30%;
	height: 50%;
}
.login_cuadro {
	position: absolute;
    top: 1vh 1vw 1vh 30vh;
}
.logo-img{
	margin-top: 60px;
	margin-left: 20px;
}


.input-icons i {
	position: absolute;
}
  
.input-icons {
	width: 100%;
	margin-bottom: 10px;
}
  
.icon {
	padding: 18px;
	color: rgb(105, 105, 105);
	text-align: center;
	margin-left: 310px;
}
  
.input-field {
	width: 100%;
	padding: 10px;
}
  
h2 {
	color: green;
}